$black: #161819;
$grey: #232526;
$pokegrey: #222224;
$grey-light: #333333;
$pokered: #f00000;
$white: #ffffff;
$pokewhite: #f0f0f0;

$text-font: "Poppins";
$title-font: "Merriweather";

$spacing: 0.5rem; // 8px
$spacing-lg: $spacing * 2;
$spacing-xl: $spacing * 4;