@import "../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
}

.title {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: $title-font;
}

.card {
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 100%;
  background-color: $grey-light;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100%;
  padding: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
    margin-top: 2rem;
}

.input {
  font-size: 15px;
  padding: 0px 0px 5px;
  color: inherit;
  background: none;
  border: none;
  border-bottom: solid 2px #616161;
}

.input:focus {
  outline: none;
  border-bottom: solid 2px rgb(41, 163, 151);
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.checkbox-container {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 1rem;
    // gap: -50rem;
  align-items: center;
  width: calc(100% / 2);
  margin-bottom: 1rem;
}

.label-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border: solid gray 1px;
  border-radius: 4px;
}

.label-container input:checked~.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(41, 163, 151);
  background-color: rgb(41, 163, 151);
  z-index: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked~.checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 0.4rem;
  top: 0.1rem;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.type-name {
  margin-top: 1.25rem;
  margin-left: 2rem;
}

.btn-submit {
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: rgb(41, 163, 151);
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 12px 26px;
  transition: background-color 0.2s ease-out 0s;
  font-family: inherit;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #2eb8aa;
}

@media (min-width: 733px) {
  .container {
    padding-inline: 5rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .form {
    padding-bottom: 22rem;
  }

  .input {
   width: 30rem;
  }

  .checkbox-container {
    width: calc(100% / 3);
  }
}